

h2{
    font-size: 40px;
    padding: 0 40px;
    margin-top: 20px;
}
ul{
    background-color: rgb(0, 0, 0);
    padding: 3vh;

    width: 100%;
    margin: 0 auto;
}
nav{
   
    position: absolute;
    z-index: 10;
    width: 100%;
   
    box-shadow: 0 10px 10px black;
}

nav ul li{
    display: inline-block;
  
    text-align: center;
}
nav ul li a:link,nav ul li a:visited{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    
}

nav ul li a:hover,nav ul li a:active{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* table{
    margin: 10px;
    border: 2px solid black;
}

th,tr,td{
    text-align: center;
    padding: 10px;
    color: black;
}


th{
    font-weight: bold;
    color: black;
} */
body{
    /* background-color: #C84B31; */
    color: #777;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    background-color: rgba(241, 241, 238, 0.993);

}

.header{
 position: relative;
 height: 95vh;
 background-image:url(../images/salmon.png),linear-gradient(to bottom right,rgba(0, 129, 185, 0.856),rgba(212, 241, 249, 0.801));
 clip-path: polygon(0 0,100% 0, 100% 95vh,0 100%);
 background-size: contain;
 background-position:center ;
 background-repeat: no-repeat;
 box-shadow: 0px 2px 2px  #E1E8EB;
 z-index: 5;
}
main{
    padding: 20px;
}

.box-images{
  margin: 20px;
  width: 48%;
float: left;
}

.box-images img{
    width: 46%;
    height: 400px;
}
.box-images img:nth-child(2n+2){
    margin-left: 2.5%;

}


.intro{
float: left;
    width: 48%;
}

footer{
    padding: 25px;
    clear: both;
    height: 400px;
    background-color: black;
}
#above{
   padding: 20px;
}
#above div{
    color: white;
    display: inline-block;
    width: 24%;
}
#below {
    padding: 20px;
    text-align: center;
}

#above div h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
#above div h5{
    font-size: 20px;
    font-weight: lighter;
    color: #777;
}
#above div h5:hover{

    color: #fff;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
  }



