

h2{
    font-size: 40px;
    padding: 0 40px;
    margin-top: 20px;
}
ul{
height: 100%; 
background-color: #000000; 

}
nav{
    position: absolute;
    z-index: 10;
  height: 10vh;
    width: 100%;

    
}

nav ul li{
    display: inline;
    text-align: center;
}
nav ul li a:link,nav ul li a:visited{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: gray;
    
}

nav ul li a:hover,nav ul li a:active{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


body{
    color: #777;
    position: relative;
    font-family: 'Arvo', serif;
        line-height: 1.7;
    background-color: rgba(241, 241, 238, 0.993);

}

#head{
 position: relative;

  background-image:url(../images/salmon.png),linear-gradient(to bottom right,rgba(0, 129, 185, 0.856),rgba(212, 241, 249, 0.801));
   clip-path: polygon(0 0,100% 0, 100% 95vh,0 100%);
  background-size: contain;
  background-position:center ;
   background-repeat: no-repeat;

 height: 100vh;
 
 z-index: 5;
}
main{
    padding: 20px;
}

#sales{
    text-align: center;
}
.box-images{
  margin: 20px;
  width: 48%;
float: left;
}

.box-images img{
    width: 46%;
    height: 400px;
}
.box-images img:nth-child(2n+2){
    margin-left: 2.5%;

}


.intro{
float: left;
    width: 48%;
}

footer{
    padding: 25px;
    clear: both;
    height: 400px;
    background-color: black;
}
#above{
   padding: 20px;
}
#above div{
    color: white;
    display: inline-block;
    width: 24%;
}
#below {
    padding: 20px;
    text-align: center;
}

#above div h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
#above div h5{
    font-size: 20px;
    font-weight: lighter;
    color: #777;
}
#above div h5:hover{

    color: #fff;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c7ccc8;
    color: black;
  }
  
  #form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  fieldset{
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
  }
